In [1]:
import mysql.connector as c
con=c.connect(host="localhost",user="root",passwd="Hpolara@5",database="machine")
cursor=con.cursor()
id=int(input("Enter employee id:"))
name=input("Enter employee name:")
salary=int(input("Enter employee salary:"))
query="insert into emp values({},'{}',{})".format(id,name,salary)
cursor.excute(query)
con.commit()
print("Data inserted...")

In [5]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'